.red {
  background: red;
  margin: 0 auto;
  text-align: center;


}
.liste > li {
  display: inline-flex;
  align-items: center;
  margin: 4px

}

.bite {
  display: flex;
  justify-content: center;

}